@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root
{
    --background: #131214;
    --logo-color: #ffffff;
    --primary-heading-color: rgb(205, 204, 204);
    --secondary-heading-color: rgb(129, 128, 128);
    --values-color: rgb(247, 244, 244);
    --secondary-values-color: rgb(139, 139, 139);
    --primary-icons-color: rgb(247, 244, 244);

    --on-accents-color: #333;

    --white-alpha-10: rgba(255, 255, 255, 0.1);
    --white-alpha-8: rgba(255, 255, 255, 0.08);
    --white-alpha-4: rgba(255, 255, 255, 0.04);
    --black-alpha-10: rgba(0, 0,0 , 0.3);
    --accents-color: #CCA5FF;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

*
{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:  rgba(241, 0, 0, 0);
}

html
{
    font-size: 14px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

button, input
{
    border: none;
    background: transparent;
    font: inherit;
}

input
{
    width: 100%;
}

button
{
    cursor: pointer;
    color: var(--primary-heading-color);
}



body
{
    font-family: "Nunito" , sans-serif;
    background-color: var(--background);
    height: 100vh;
    color: var(--primary-heading-color);
}

.container
{
    max-width: 1600px;
    padding: 16px;
    
}

.icon-btn
{
    background-color: var(--white-alpha-8);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.btn-primary
{
    background: var(--accents-color);
    height: 48px;
    line-height: 48px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: max-content;
    color: var(--on-accents-color);
    border-radius: 30px;
}

.btn-primary .span 
{
    font-weight: 700;
}

.header .btn-primary .span
{
    display: none;
}


.logo
{
    font-size: 28px;
    font-weight: 700;
}

.header .container , .header-actions
{
    display: flex;
    align-items: center;
}

.header .container
{
    justify-content: space-between;
    
}
.header-actions
{
    gap: 16px;
}

.header-actions .btn-primary 
{
    padding-inline: 12px;
}

.search-view 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.search-view.active
{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s linear;
}

.search-wrapper
{
    position: relative;
    border-block-end: 1px solid var(--white-alpha-10);
}

.search-wrapper::before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    border: 3px solid var(--primary-heading-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-block-start-color: transparent;
    animation: loading 500ms linear infinite;

    display: none;

    
}

@keyframes loading {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    
    100% {
        transform: translateY(-50%) rotate(1turn);
    }
    
}

.search-wrapper:has(.searching)::before
{
    display: block;
}

.search-field
{
    height: 80px;
    line-height: 80px;
    padding-inline: 56px 16px;
    color: var(--primary-heading-color);
    outline: none;
    font-weight: 600;
}


.search-field::-webkit-search-cancel-button
{
    display: none;
}

.leading-icon
{
    position: absolute;
    top: 50%;
    left: 26px;
    transform: translate(-50% , -50%);
}



.search-wrapper > .material-symbols-outlined
{
    display: none;
}

.search-wrapper .icon-btn
{
    background-color: transparent;
    box-shadow: none;
    
}

.hover-effect:hover
{
    background-color: var(--white-alpha-8) ;
    transition: background-color ease-in .1s;
}

.search-view .view-list
{
    padding-block: 8px 16px;
}

.search-view .view-item
{
    position: relative;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-inline: 16px 24px;
}

.search-view .view-item :is(.material-symbols-outlined , .item-subtitle) 
{
    color: var(--secondary-heading-color);
}

.search-view .view-item .item-link
{
    position: absolute;
    inset: 0;
    box-shadow: none;
}

/* .ripples-effect
{
    position: absolute;
    background: #fff;
    
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
    }

    100%{
        width: 150px;
        height: 150px;
    }
} */