@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root
{
    --background: #131214;
    --logo-color: #ffffff;
    --primary-heading-color: rgb(205, 204, 204);
    --secondary-heading-color: rgb(139, 139, 139);
    --values-color: rgb(247, 244, 244);
    --secondary-values-color: rgb(139, 139, 139);
    --primary-icons-color: rgb(247, 244, 244);
    --white-alpha-10: rgba(255, 255, 255, 0.1);
    --black-alpha-10: rgba(0, 0,0 , 0.3);
    --accents-color: #CCA5FF;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

*
{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body
{
    font-family: "Nunito" , sans-serif;
    background-color: var(--background);
    height: 100vh;
}


.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.logo
{
    color: var(--logo-color);
    font-weight: 600;
    font-size: 2rem;
}

.search
{
    background-color: var(--white-alpha-10);
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 10px 10px 10px  50px;
    color: var(--values-color);
    width: 30%;
    border-radius: 10PX;
    font-family: inherit;
    
    background-image: url('/Assets/Search-icon.png');
    background-position: 2% 50%; 
    background-size: 1.2rem;
    background-repeat: no-repeat;
    
}

.header-buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-buttons button 
{
    border: none;
    background-color: var(--accents-color);
}
.mode-switch
{
    font-size: 1.2rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
}

.current-location
{
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    
}

.current-location span
{
    font-size: 20px;
}

/* Main Content */

.app 
{
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 400px  minmax(0 , 1fr);
    grid-auto-flow: column;
    /* grid-auto-rows: 70px; */
    height: calc(100dvh);
    gap: 10px 40px;
    
}


/* Current Weather */

.current-weather
{
    background-color: var(--white-alpha-10);
    grid-column: 1 / 2;
    /* grid-row: 1/7; */
    border-radius: 20px;
    
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr auto auto ;
    gap: 20px 0;

}

.now-heading-container
{
    grid-column: 1 / 3;
    grid-row: 1 /2;
}

.now-heading
{
    color: var(--values-color);
    font-size: 20px;
    font-weight: 500;
}

.current-temperature-container
{
    grid-column: 1 /3;
    grid-row: 2 /3;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.current-temperature-value
{
    font-size: 76px;
    color: var(--values-color);
    font-weight: 400;
    
}

.current-weather-image
{
    width: 120px;
}


.current-weather-status-container
{
    grid-column: 1 /3 ;
    border-bottom: 1px solid rgb(139, 139, 139);
    padding-bottom: 16px ;
}

.current-weather-status
{
    color: var(--values-color);
    font-size: 20px;
    font-weight: 500;

}

.current-date , .current-city 
{
    color: var(--secondary-values-color);
    font-weight: 500;
}

.current-date-city-container
{
    grid-column: 1 /3;
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px 0;
    
}
.current-date-city-container div 
{
    display: flex;
    align-items: center;
}

.current-date-city-container div span
{
    color: var(--primary-icons-color);
    margin-right: 10px;
    font-size: 24px;
}






/* 5 Day Forecast */

.day-forecast
{
    background-color: var(--white-alpha-10);
    grid-column: 1 /2;
    /* grid-row: 8 / 14; */
    border-radius: 20px;
    padding: 2rem 2.5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 , 1fr);
    gap: 20px 0;

}


.day-forecast-heading
{
    grid-column: 1 /2;
    /* grid-row: 7 /8; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-heading-color);
}

.day-forecast-row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day-forecast-temperature-container
{
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.day-forecast-temperature-value 
{
    color: var(--values-color);
    font-size: 24px;
    font-weight: 400;
}

.day-forecast-img
{
    width: 40px;
}

.day-forecast-date, .day-forecast-day
{
    color: var(--secondary-heading-color);
    font-weight: 500;
    font-size: 14px;
}






/* Weather Details */

.weather-details
{
    background-color: var(--white-alpha-10);
    grid-column: 2 / 3;
    /* grid-row: 1 /8; */
    border-radius: 20px;

    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto repeat(2 , 1fr) 1.5fr;
    gap: 20px 30px;
}

.weather-details-elements 
{
    background-color: var(--black-alpha-10);
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.weather-details-heading-contianer
{
    grid-column: 1 / 2;
    grid-row: 1 /2;
}

.weather-details-heading
{
    color: var(--primary-heading-color);
}


.weather-details-elements-heading
{
    color: var(--secondary-heading-color);
}


.aqi
{
    grid-column: 1 / 3;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    
    
}

.aqi-heading-container
{
    grid-column: 1 / 6;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.aqi-summary
{
    background-color: rgb(248, 148, 186);
    color: rgb(20, 20, 20);
    border-radius: 20px;
    padding: 2px 8px;
    font-weight: 600;
}
.aqi-icon-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aqi-icon-container span 
{
    font-size: 56px;
    color: var(--primary-icons-color);
}

.aqi-details-container
{
    grid-column: 1 / 6;
    grid-row: 2 /3;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    text-align: center;
}

.aqi-details h4 
{
    color: var(--secondary-heading-color);
    font-weight: 400;
    font-size: 14px;
}

.aqi-details-values
{
    font-size: 36px;
    font-weight: 400;
    color: var(--values-color);
    margin-top: 8px;
}



.sr-ss
{
    grid-column: 3 / 5;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    
    gap: 0 20px;
}

.sr-ss-heading-container
{
    grid-column: 1 / 6;
    
}

.sr-ss-details-container
{
    grid-column: 1 / 6;
    grid-row: 2 /3;

    display: grid;

    grid-template-columns: auto 1fr auto 1fr;
    align-content: center;
    gap: 0 30px;
    /* text-align: center; */
}

.sr-icon-container
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.ss-icon-container
{   
    grid-column: 3 /4;
    grid-row: 2 / 3;
}

.sr-icon-container, .ss-icon-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sr-time-value-container
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ss-time-value-container
{   
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.ss-icon-container span , .sr-icon-container span
{
    font-size: 56px;
    color: var(--primary-icons-color);
}


.sr-ss-details h4
{
    color: var(--secondary-heading-color);
    font-weight: 400;
    font-size: 14px;
}

.sr-ss-details-values
{
    font-size: 36px;
    font-weight: 400;
    color: var(--values-color);
    margin-top: 8px;
    
}

.humidity , .pressure, .visibility, .feels-like
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
}


.humidity
{
    grid-column: 1 / 2;
    grid-row: 4 / 5;

}

.small-details-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-icon-container span
{
    font-size: 56px;
    color: var(--primary-icons-color);
}   

.small-value-container h4
{
    font-size: 36px;
    font-weight: 400;
    color: var(--values-color);
}


.pressure
{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.visibility 
{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.feels-like
{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}




/* Hourly Forecast */



.hourly-forecast-heading
{
    grid-column: 2 /3 ;
    /* grid-row: 8 / 9; */

    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-heading-color);
}

.hourly-forecast 
{
    
    grid-column: 2 / 3;
    /* grid-row: 9 / 14; */
    

    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
    gap: 20px 20px;

}

.hour-forecast ,.wind-forecast
{
    background-color: var(--white-alpha-10);
    border-radius: 20px;
    grid-column: span 1;
    padding: 1rem;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.hour-forecast-img-container, .wind-forecast-img-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour-forecast-img 
{
    width: 60px;
}

.wind-forecast-img
{
    width: 50px;
}

.hour-forecast-time-value, .hour-forecast-temperature-value, .wind-forecast-time-value,  .wind-forecast-speed-value
{
    text-align: center;
    color: var(--values-color);
    font-weight: 400;
}

/* Footer */



footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-heading-color);
    padding: 1rem 1rem;

}

footer h3
{
    font-weight: 500;
    font-size: 16px;
}

footer h3 a
{
    color: var(--accents-color);
}