@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root
{
    --background: #111011;
    --logo-color: #ffffff;
    --primary-heading-color: rgb(205, 204, 204);
    --secondary-heading-color: rgb(129, 128, 128);
    --values-color: rgb(247, 244, 244);
    --secondary-values-color: rgb(139, 139, 139);
    --primary-icons-color: rgb(247, 244, 244);

    --surface: rgb(49, 48, 48);
    --search-border: rgb(49, 48, 48);

    --on-accents-color: #333;

    --white-alpha-10: rgba(255, 255, 255, 0.1);
    --white-alpha-8: rgba(255, 255, 255, 0.08);
    --white-alpha-6: rgba(255, 255, 255, 0.06);
    --white-alpha-4: rgba(255, 255, 255, 0.04);

    --black-alpha-20: rgba(0, 0,0 , 0.3);
    --accents-color: #eff780;
}

.light-mode 
{
    --background: #EDEDED;
    --logo-color: #222222;
    --primary-heading-color: rgb(17, 17, 17);
    --secondary-heading-color: rgb(46, 46, 46);
    --values-color: rgb(0, 0, 0);
    --secondary-values-color: rgb(20, 20, 20);
    --primary-icons-color: #333;
    --white-alpha-8:  rgba(0, 0, 0, 0.048);
    --black-alpha-20: #ededed;

    --search-border: rgba(0, 0, 0, 0.048);
    --accents-color: #7f51ff;
}

.search-field-light
{
    border: 1px solid var(--search-border);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*
{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:  rgba(241, 0, 0, 0);
}

html
{
    font-size: 14px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

button, input
{
    border: none;
    background: transparent;
    font: inherit;
}

input
{
    width: 100%;
}

button
{
    cursor: pointer;
    color: var(--primary-heading-color);
}

ul{
    list-style: none;
}

body
{
    font-family: "Nunito" , sans-serif;
    background-color: var(--background);
    height: 100vh;
    color: var(--primary-heading-color);
    
}

.container
{
    max-width: 100%;
    padding: 16px;
    
}


/* HEADER */

.icon-btn , .mode-btn
{
    background-color: var(--white-alpha-8);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.icon-btn:hover , .mode-btn:hover
{
    background-color: var(--white-alpha-10);
}

.btn-primary
{
    background: var(--accents-color);
    height: 48px;
    line-height: 48px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: max-content;
    color: var(--on-accents-color);
    border-radius: 30px;


}

.btn-primary .span 
{
    font-weight: 700;
}

.header .btn-primary .span
{
    display: none;
}


.logo
{
    font-size: 24px;
    font-weight: 700;
    color: var(--logo-color);
}

.header .container , .header-actions
{
    display: flex;
    align-items: center;
}

.header .container
{
    justify-content: space-between;
    
}
.header-actions
{
    gap: 16px;
}

.header-actions .btn-primary 
{
    padding-inline: 12px;
}

.search-view 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: var(--background);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.search-view.active
{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s linear;
}

.search-wrapper
{
    position: relative;
    border-block-end: 1px solid var(--white-alpha-10);
}

.search-wrapper::before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    border: 3px solid var(--primary-heading-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-block-start-color: transparent;
    animation: loading 500ms linear infinite;
    z-index: 2;
    display: none;

    
}

@keyframes loading {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    
    100% {
        transform: translateY(-50%) rotate(1turn);
    }
    
}

.search-wrapper:has(.searching)::before
{
    display: block;
}

.search-field
{
    height: 80px;
    line-height: 80px;
    padding-inline: 56px 16px;
    color: var(--primary-heading-color);
    outline: none;
    font-weight: 600;
    
}


.search-field::-webkit-search-cancel-button
{
    display: none;
}

.leading-icon , .leading-icon-s
{
    position: absolute;
    top: 50%;
    left: 26px;
    transform: translate(-50% , -50%);
}



.search-wrapper > .material-symbols-outlined
{
    display: none;
}

.search-wrapper .icon-btn
{
    background-color: transparent;
    box-shadow: none;
    
}

.hover-effect:hover
{
    background-color: var(--white-alpha-8) ;
    transition: background-color ease-in .1s;
}

.search-view .view-list
{
    padding-block: 8px 16px;
}

.search-view .view-item
{
    position: relative;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-inline: 16px 24px;
}

.search-view .view-item :is(.material-symbols-outlined , .item-subtitle) 
{
    color: var(--secondary-heading-color);
}

.search-view .view-item .item-link
{
    position: absolute;
    inset: 0;
    box-shadow: none;
}


/* main */

main
{
    height: calc(100dvh - 80px);
    overflow: hidden;
    
}


article.container
{
    position: relative;
    display: grid;
    grid-template-columns: minmax(0 , 1fr);
    gap: 20px;
    height: 100%;
    overflow-y: auto;
    overflow-y: overlay;
    padding-block: 0;
    
}

article.container::-webkit-scrollbar-thumb {background-color: transparent;}

article.container:is(:hover , :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-10);
}

article.container::-webkit-scrollbar-button 
{
    height: 10px;
}

article.container::before
{
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    pointer-events: none;
    display: none;
    
}

.section:not(:last-child)
{
    margin-block-end: 16px;
}


/* Current Weather */



.card
{
    background-color: var(--white-alpha-8);
}

.card-lg
{
    border-radius: 28px;
    padding: 24px;
}

.card-sm 
{
    border-radius: 16px;
    padding: 20px;
}

.highlights-card
{
    background-color:  var(--black-alpha-20);
    position: relative;
}

.title-2
{
    font-size: 18px;
    color: var(--primary-heading-colorlo);
    margin-block-end: 16px;
}

.title-3 
{
    font-size: 14px;
    color: var(--secondary-heading-color);
}

.current-temperature-value
{
    font-size: 64px;
    font-weight: 400;
    line-height: 1.1;
    color: var(--values-color);
}

.current-weather-card .wrapper 
{
    margin-block: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.current-weather-card .wrapper .current-weather-icon
{
    height: 96px;
    margin-inline: auto;
}

.current-weather-card .weather-status
{
    text-transform: capitalize;
    font-size: 18px;
    color: var(--values-color);
}

.current-weather-card .meta-list
{
    margin-block-start: 16px;
    padding-block-start: 16px;
    border-block-start: 1px solid var(--secondary-heading-color);
}

.current-weather-card .meta-list .meta-item
{
    display: flex;
    gap: 8px;
    align-items: center;
}
.current-weather-card .meta-list .meta-item span 
{
    color: var(--primary-icons-color);
}

.current-weather-card .meta-list .meta-item p 
{
    color: var(--secondary-values-color);
    font-weight: 600;
    font-size: 14px;
}
.current-weather-card .meta-list .meta-item:not(:last-child)
{
    margin-block-end: 12px;
}



/* Forecast */

.forecast-card ul .card-item .icon-wrapper img 
{
    height: 44px;
}

.forecast-card ul .card-item , .icon-wrapper
{
    display: flex;
    align-items: center;
}
.forecast-card ul .card-item
{
    justify-content: space-between;
}
.forecast-card ul .card-item:not(:last-child)
{
    margin-block-end: 12px;
}
.forecast-card ul .card-item .icon-wrapper
{
    gap: 12px;
}

.card-item .icon-wrapper .forecast-temp-value
{
    color: var(--values-color);
    font-size: 18px;
    font-weight: 400;
}

.forecast .card-item p
{
    color: var(--secondary-values-color);
    font-size: 14px;
    font-weight: 600;
}

/* Highlights */

.highlights .material-symbols-outlined
{
    font-size: 2.5rem;
}

.highlights-list
{
    display: grid;
    gap: 20px;
}

.highlights-card :is(.wrapper, .card-list, .card-item) 
{
    display: flex;
    align-items: center;
}

.highlights-card .wrapper
{
    justify-content: space-between;
    gap: 16px;
}

.highlights-card .card-list 
{
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 8px;
}

.highlights-card .card-item
{
    width: 50%;
    justify-content: center;
    gap: 4px;
}

.badge
{
    position: absolute;
    top: 10px;
    right: 16px;
    padding: 4px 12px;
    border-radius: 20px;
   
}

.aqi-1
{
    background-color: rgb(98, 255, 98);
    color: black;
}
.aqi-2
{
    background-color: rgb(241, 239, 99);
    color: black;
}
.aqi-3
{
    background-color: rgb(253, 144, 1);
    color: black;
}
.aqi-4
{
    background-color: rgba(252, 52, 52, 0.993);
    color: white;
}
.aqi-5
{
    background-color: rgb(94, 25, 163);
    color: white;
}

.highlights-card.two .card-item
{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.highlights-card .title-3
{
    margin-block-end: 16px;
}

.highlights-card .material-symbols-outlined
{
    color: var(--primary-icons-color);
    font-size: 40px;
}

.highlights-card .highlight-value
{
    color: var(--values-color);
    font-weight: 500;
    font-size: 24px;
}

.highlights-card .highlight-label
{
    font-size: 12px;
    color: var(--secondary-heading-color);
}

.highlights > .card-lg
{
    padding: 24px 18px;
}

/* Hourlt Forecast */

.slider-container .card-sm
{
    padding: 12px;
}

.slider-container
{
    overflow-x: auto;
    margin-inline: -16px;
}

.slider-container::-webkit-scrollbar
{
    display: none;
}

.slider-list
{
    display: flex;
    gap: 12px;
}

.slider-list:first-child
{
    margin-block-end: 16px;
}

.slider-list::before , .slider-list::after
{
    content: "";
    min-width: 4px;
}

.slider-item
{
    min-width: 110px;
    flex: 1 1 100%;
}

.slider-card
{
    text-align: center;
}

.hourly-forecast .weather-icon 
{
    height: 44px;
    margin-block: 12px;
    margin-inline: auto;
}

.hourly-forecast :is(.slider-card-time , .slider-card-value)
{
    color: var(--values-color);
    font-weight: 400;
    font-size: 16px;
}

/* Footer  */


.footer
{
    text-align: center;
    gap: 12px;
    flex-direction: column;
    margin-block-start: 24px;
    
}

.footer, .footer .footer-text:last-child
{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.footer .footer-text:last-child
{
    gap: 12px;
}

.footer-text 
{
    color: var(--primary-heading-color);
    font-weight: 700;
}

.footer-text .github-profile
{
    color: var(--accents-color);
}


.footer-text .openweather-logo
{
    width: 120px;
}


/* Loading  */


.loading-container
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    display: none;
    place-items: center;
    /* display: grid ;  */
    z-index: 1;
}


.loading-container::before
{
    content: "";
    width: 48px;
    height: 48px;
    border: 4px solid var(--primary-heading-color);
    border-block-start-color: transparent;
    border-radius: 50%;
    animation: loading 500ms linear infinite;
    
}



/* Media Queries */

/** Larger Than 768px **/

@media (min-width: 768px) {

    .btn-primary
    {
        display: flex;
    }

    article.container {
        height: 100%;
    }
    
    .container
    {
        padding: 24px;
    }

    .card-lg 
    {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
    }

    .slider-container .card-sm
    {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .card-sm
    {
        display: grid;
        grid-template-rows: min-content 1fr;
    }

    .badge
    {
        top: 16px;
        right: 16px;
    }

    /* header  */

    .header-actions
    {
        gap: 24px;
    }

    .header-actions .btn-primary
    {
        padding-inline: 16px 24px;
    }

    .header-actions .btn-primary .span
    {
        display: block;
        font-size: 16px;
    }

    /* Main  */

    .title-3
    {
        font-size: 16px;
    }

    article.container 
    {
        padding-block-start: 0;
        grid-template-columns: 300px  minmax(0 , 1fr);
        align-items: flex-start;
        gap: 24px;
    }

    .content-left
    {
        position: sticky;
        top: 0;
    }

    .section:not(:last-child)
    {
        margin-block: 20px;
    }

    .current-temperature-value
    {
        font-size: 56px;
    }

    .current-weather-card .wrapper .current-weather-icon
    {
        height: 88px;
    }

    .forecast-card ul .card-item .icon-wrapper img 
    {
        height: 38px;
    }

    .card-item p
    {
        font-size: 12px;
    }

    .forecast-card ul .card-item:not(:last-child)
    {
        margin-block-end: 16px;
    }

    .highlights-list
    {
        grid-template-columns: 1fr 1fr;
    }

    .highlights-card:nth-child(-n+2)
    {
        grid-column: span 2;
        height: 160px;
    }

    /* .highlights-card
    {
        
    } */
    .highlights-card:nth-child(n+3)
    {
        height: 120px;
    }

    .highlights-card .material-symbols-outlined
    {
        font-size: 48px;
    }

    .highlights-card.one .card-item
    {
        width: 25%;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .highlights-card .highlight-label
    {
        font-size: 14px;
    }

    .highlights-card .highlight-value
    {
        font-size: 28px;
    }

    .slider-container
    {
        margin-inline: 0 -24px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        
        padding: 10px;
    }
    .slider-list::before
    {
        display: none;
    }

    .slider-list::after
    {
        min-width: 12px;
    }
}

/** Larger than 1200px **/

@media (min-width: 1200px) {

    .container
    {
        padding: 40px;
    }

    .card-lg
    {
        padding: 36px;
    }

    .highlights > .card-lg
    {
        padding: 36px;
    }

    .card-sm
    {
        padding: 28px;
    }

    /* Header */

    .header .icon-btn
    {
        display: none;
    }
    
    .header > .container
    {
        padding: 24px;
    }

    .header
    {
        position: relative;
        z-index: 4;
    }
    

    .search-view , .search-view.active
    {
        all: unset;
        display: block;
        position: relative;
        width: 500px;
        animation: none;
    }

    .search-wrapper
    {
        border-block-end: none;
    }

    .search-wrapper > .material-symbols-outlined
    {
        display: block;
    }

    .search-field , .search-view .view-list
    {
        background-color: var(--white-alpha-6);
        backdrop-filter: blur(12px);
        
    }
    .search-view .view-list
    {
        box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 15px;
    }



    .search-field
    {
        height: 56px;
        border-radius: 28px;
    }

    .search-result,
    .search-view:not(:focus-within) .search-result
    {
        display: none;
    }

    .search-view:focus-within .search-result.active 
    {
        display: block;
    }

    .search-view:has(.search-result.active):focus-within .search-field
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search-view .view-list
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 360px;
        border-radius: 0 0 28px 28px;
        border-block-start: 1px solid var(--search-border);
        overflow-y: auto;
        overflow-y: overlay;
    }

    .search-view .view-list:empty
    {
        min-height: 60px;
    }

    .search-view .view-item::-webkit-scrollbar-button
    {
        height: 20px;
    }

    /* Main  */

    article.container 
    {
        grid-template-columns: 360px minmax(0 , 1fr);
        gap: 40px;
    }

    .current-temperature-value
    {
        font-size: 64px;
    }

    .current-weather-card .wrapper .current-weather-icon
    {
        height: 104px;
    }

    .current-weather-card .meta-list .meta-item p 
    {
        font-size: 14px;
    }

    .forecast-card ul .card-item .icon-wrapper img 
    {
        height: 48px;
    }

    .card-item .icon-wrapper .forecast-temp-value
    {
        font-size: 20px;
    }

    .badge
    {
        font-size: 18px;
        top: 24px;
        right: 24px;
    }

    .highlights-card:nth-child(-n+2)
    {
        height: 200px;
    }

    .highlights-card:nth-child(n+3)
    {
        height: 150px;
    }

    .highlights-card .material-symbols-outlined
    {
        font-size: 52px;
    }

    .highlights-card .highlight-value 
    {
        font-size: 30px;
    }

    .highlights-card .highlight-label 
    {
        font-size: 16px;
    }

    .highlights-card.two .card-item
    {
        gap: 8px 24px;
    }

    .slider-list
    {
        gap: 24px;
    }
}

@media (min-width: 1440px) {
    

    .title-2 
    {
        font-size: 20px;
    }
    article.container 
    {
        grid-template-columns: 380px minmax(0, 1fr);
    }

    .current-temperature-value
    {
        font-size: 64px;
    }

    .current-weather-card .wrapper .current-weather-icon
    {
        height: 116px;
    }

    .highlights-list
    {
        grid-template-columns: repeat(4 , 1fr);
    }

    .highlights-card .material-symbols-outlined
    {
        font-size: 56px;
    }

    .highlights-card .highlight-value 
    {
        font-size: 38px;
    }

    .hourly-forecast .weather-icon
    {
        height: 56px;
        margin-block: 24px;
    }

    .slider-container .card-sm
    {
        padding: 16px 12px;
    }

    .logo
    {
        font-size: 30px;
    }
}